APP_NAME="FLCar"
APP_ENV=development

# Thông tin cấu hình Database (Người dùng thay đổi tại đây)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=flcar_db
DB_USERNAME=root
DB_PASSWORD=
